<link
  rel="stylesheet"
  href="./css/customers/choose-prod.css"
/>

<!-- #region Choose-Prod -->
<section class="choose-prod-section">
  <div class="container choose-prod-container">
    <h2 class="choose-prod-title">Why Choose BizMon?</h2>
    <ul class="choose-prod-list">
      <li class="choose-prod-list-item">
        <div
          class="choose-product-container-icon cursor-choose"
        >
          <svg class="product-icon" width="12" height="18">
            <use
              href="./assets/icons.svg#icon-cursor"
            ></use>
          </svg>
        </div>
        <h3 class="choose-prod-list-title">
          Special Business
        </h3>
        <p class="choose-prod-list-text">
          BizMon helps you see how many more days you need
          to work to reach your financial goal for the month
          and year.
        </p>
      </li>
      <li class="choose-prod-list-item">
        <div
          class="choose-product-container-icon figure-choose"
        >
          <svg class="product-icon" width="12" height="18">
            <use
              href="./assets/icons.svg#icon-figure"
            ></use>
          </svg>
        </div>
        <h3 class="choose-prod-list-title">
          Instant Result
        </h3>
        <p class="choose-prod-list-text">
          BizMon helps you see how many more days you need
          to work to reach your financial goal for the month
          and year.
        </p>
      </li>
      <li class="choose-prod-list-item">
        <div
          class="choose-product-container-icon heard-choose"
        >
          <svg class="product-icon" width="12" height="18">
            <use href="./assets/icons.svg#icon-heard"></use>
          </svg>
        </div>
        <h3 class="choose-prod-list-title">
          Fastest way to organize
        </h3>
        <p class="choose-prod-list-text">
          BizMon helps you see how many more days you need
          to work to reach your financial goal for the month
          and year.
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion Choose-Prod -->
