<link
  rel="stylesheet"
  href="./css/customers/our-clients.css"
/>

<!-- #region Our-Clients -->
<section class="our-clients-section">
  <div class="container our-clients-container">
    <h1 class="our-clients-title">Our Clients</h1>
    <ul class="our-clients-list">
      <li class="our-clients-list-item">
        <a
          class="our-clients-list-link"
          href="https://www.airbnb.com.ua/"
          target="_blank"
        >
          <img
            class="Airbnb-img"
            src="./assets/images/our-clients/Airbnb-Logo.svg"
            alt="Airbnb-Logo"
            width="159"
            height="50"
          />
        </a>
      </li>
      <li class="our-clients-list-item">
        <a
          class="our-clients-list-link"
          href="https://www.google.com.ua/"
          target="_blank"
        >
          <img
            class="Google-img"
            src="./assets/images/our-clients/Google-Logo.svg"
            alt="Google-Logo"
            width="149"
            height="50"
          />
        </a>
      </li>
      <li class="our-clients-list-item">
        <a
          class="our-clients-list-link"
          href="https://www.microsoft.com/"
          target="_blank"
        >
          <img
            class="Microsoft-img"
            src="./assets/images/our-clients/Microsoft-Logo.svg"
            alt="Microsoft-Logo"
            width="213"
            height="44"
          />
        </a>
      </li>
      <li class="our-clients-list-item">
        <a
          class="our-clients-list-link"
          href="https://www.fedex.com/"
          target="_blank"
        >
          <img
            class="FedEx-img"
            src="./assets/images/our-clients/FedEx-Logo.svg"
            alt="FedEx-Logo"
            width="140"
            height="42"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion Our-Clients -->
