<link rel="stylesheet" href="./css/customers/work.css" />
<!-- #region Work -->
<section class="work-section">
  <div class="container work-container">
    <h2 class="work-title">How Product Work?</h2>
    <ul class="work-list">
      <li class="work-list-item">
        <picture>
          <source
            srcset="
              ./assets/images/work/desktop/1x/desktop-mac1@1x.png 1x,
              ./assets/images/work/desktop/2x/desktop-mac1@2x.png 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./assets/images/work/mobile/1x/mobile-mac1@1x.png 1x,
              ./assets/images/work/mobile/2x/mobile-mac1@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="work-img"
            src="./assets/images/work/mobile/1x/mobile-mac1@1x.png"
            alt="computer"
            srcset="
              ./assets/images/work/mobile/1x/mobile-mac1@1x.png 1x,
              ./assets/images/work/mobile/2x/mobile-mac1@2x.png 2x
            "
          />
        </picture>
        <div class="work-list-container">
          <h3 class="work-step">STEP 1</h3>
          <p class="work-list-title">Apply for a product</p>
          <p class="work-list-text">
            Completing our easy step-by-step application
            form gives you access to multiple business with
            multiple products. We analyse your business
            through our proprietary credit analysis
            technology
          </p>
        </div>
      </li>
      <li class="work-list-item">
        <picture>
          <source
            srcset="
              ./assets/images/work/desktop/1x/desktop-mac2@1x.png 1x,
              ./assets/images/work/desktop/1x/desktop-mac2@2x.png 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./assets/images/work/mobile/1x/mobile-mac2@1x.png 1x,
              ./assets/images/work/mobile/2x/mobile-mac2@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="work-img"
            src="./assets/images/work/mobile/1x/mobile-mac2@1x.png"
            alt="computer"
            srcset="
              ./assets/images/work/mobile/1x/mobile-mac2@1x.png 1x,
              ./assets/images/work/mobile/2x/mobile-mac2@2x.png 2x
            "
          />
        </picture>
        <div class="work-list-container">
          <h3 class="work-step">STEP 2</h3>
          <p class="work-list-title">
            Pay fully refundable
          </p>
          <p class="work-list-text">
            Product will contactting you instantly to
            receive payment of the Application Fee. if no
            offer of product is available, your fee will be
            fully refunded.
          </p>
        </div>
      </li>
      <li class="work-list-item">
        <picture>
          <source
            srcset="
              ./assets/images/work/desktop/1x/desktop-mac3@1x.png 1x,
              ./assets/images/work/desktop/2x/desktop-mac3@2x.png 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              ./assets/images/work/mobile/1x/mobile-mac3@1x.png 1x,
              ./assets/images/work/mobile/2x/mobile-mac3@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="work-img"
            src="./assets/images/work/mobile/1x/mobile-mac3@1x.png"
            alt="computer"
            srcset="
              ./assets/images/work/mobile/1x/mobile-mac3@1x.png 1x,
              ./assets/images/work/mobile/2x/mobile-mac3@2x.png 2x
            "
          />
        </picture>
        <div class="work-list-container">
          <h3 class="work-step">STEP 3</h3>
          <p class="work-list-title">Completion</p>
          <p class="work-list-text">
            Product will continue to liase between borrower
            and manager to procees and complete a quick and
            efficient settlement
          </p>
        </div>
      </li>
    </ul>
    <button class="work-btn" type="button">
      Get in touch with us
    </button>
  </div>
</section>
<!-- #endregion Work -->
