<link rel="stylesheet" href="./css/backdrop.css" />
<!-- Модальне вікно -->
<div class="backdrop is-hidden" id="register-backdrop">
  <div class="modal modal-colored">
    <button class="close-btn" id="close-register">
      &times;
    </button>
    <h2>Get Started</h2>
    <p class="subtitle">
      Create an account to use all features
    </p>

    <!-- Кнопка Google Sign-In -->
    <button class="google-btn" disabled>
      <svg width="28" height="28">
        <use href="./assets/icons.svg#icon-google"></use>
      </svg>

      Sign up with Google
    </button>

    <div class="divider"><span>or</span></div>

    <!-- Форма реєстрації -->
    <form id="register-form">
      <label>
        Full Name
        <input type="text" name="name" required />
      </label>
      <label>
        Email
        <input type="email" name="email" required />
      </label>
      <label>
        Password
        <input
          type="password"
          name="password"
          required
          minlength="6"
        />
      </label>
      <button type="submit" class="submit-btn">
        Register
      </button>
    </form>

    <p class="auth-redirect">
      Already have an account?
      <a href="/">Login here</a>
    </p>
  </div>
</div>
