<link rel="stylesheet" href="./css/price.css" />
<!-- #region Price -->
<section class="price-section">
  <div class="container price-container">
    <ul class="price-list">
      <li class="price-list-item">
        <div class="price-list-container">
          <h3 class="price-list-title">Free</h3>
          <p class="price-list-text">
            Brief price description
          </p>
          <h4 class="price-list-cost">
            <span class="price">0</span>
            <div class="price-dollar-month">
              <span class="dollar">$</span>Per / month
            </div>
          </h4>
          <ul class="price-list-advant">
            <li class="price-list-advant-item">
              Only 2 Operators
            </li>
            <li class="price-list-advant-item">
              Notifications
            </li>
            <li class="price-list-advant-item">
              Landing Pages
            </li>
          </ul>
          <a href="/resources#send-form">
            <button class="price-btn" type="button">
              Order Now
            </button>
          </a>
        </div>
      </li>
      <li class="price-list-item">
        <div class="price-list-container">
          <h3 class="price-list-title">Standard</h3>
          <p class="price-list-text">
            Brief price description
          </p>
          <h4 class="price-list-cost">
            <span class="price">5</span>
            <div class="price-dollar-month">
              <span class="dollar">$</span>Per / month
            </div>
          </h4>
          <ul class="price-list-advant">
            <li class="price-list-advant-item">
              5+ Operators
            </li>
            <li class="price-list-advant-item">
              Notifications
            </li>
            <li class="price-list-advant-item">
              Landing Pages
            </li>
          </ul>
          <a href="/resources#send-form">
            <button class="price-btn" type="button">
              Order Now
            </button>
          </a>
        </div>
      </li>
      <li class="price-list-item">
        <div class="price-list-container">
          <h3 class="price-list-title">Premium</h3>
          <p class="price-list-text">
            Brief price description
          </p>
          <h4 class="price-list-cost">
            <span class="price">10</span>
            <div class="price-dollar-month">
              <span class="dollar">$</span>Per / month
            </div>
          </h4>
          <ul class="price-list-advant">
            <li class="price-list-advant-item">
              10+ Operators
            </li>
            <li class="price-list-advant-item">
              Notifications
            </li>
            <li class="price-list-advant-item">
              Landing Pages
            </li>
          </ul>
          <a href="/resources#send-form">
            <button class="price-btn" type="button">
              Order Now
            </button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion Price -->
