<link rel="stylesheet" href="./css/customers/offer.css" />
<!-- #region Offer -->
<section class="offer-section">
  <div class="container offer-container">
    <h2 class="offer-title">
      Join thousand of other who have already received
      offers
    </h2>
    <ul class="offer-list">
      <li class="offer-list-item">
        <div class="offer-img-container">
          <img
            class="offer-img"
            src="./assets/images/offer/Activity.svg"
            alt="business"
            width="61"
            height="61"
          />
        </div>
        <h3 class="offer-list-title">Business</h3>
        <ul class="offer-list-options">
          <li class="offer-list-options-item">Cash Flow</li>
          <li class="offer-list-options-item">
            Asset Backed
          </li>
          <li class="offer-list-options-item">
            Receivables Finance
          </li>
        </ul>
        <p class="offer-under-list-text">
          Find the best business product
        </p>
      </li>
      <li class="offer-list-item">
        <div class="offer-img-container">
          <img
            class="offer-img"
            src="./assets/images/offer/Chart.svg"
            alt="Enterprise"
            width="62"
            height="62"
          />
        </div>
        <h3 class="offer-list-title">Enterprise</h3>
        <ul class="offer-list-options">
          <li class="offer-list-options-item">
            Site Acquisition
          </li>
          <li class="offer-list-options-item">Bridge</li>
          <li class="offer-list-options-item">
            Development Financing
          </li>
        </ul>
        <p class="offer-under-list-text">
          Find the best business product
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- #endregion Offer -->
