<link rel="stylesheet" href="./css/index/clients.css" />
<!-- #region Clients -->
<section class="clients-section">
  <div class="container clients-container">
    <h2 class="clients-title">What Clients Say</h2>
    <p class="clients-text">
      Problems trying to resolve the conflict between the
      two major realms of Classical physics: Newtonian
      mechanics
    </p>
    <ul class="clients-list">
      <li class="clients-list-item">
        <div class="clients-list-container">
          <img
            src="./assets/images/clients/Group 204.png"
            alt="four stars"
            width="106"
            height="18"
          />
          <p class="clients-list-text">
            Product helps you see how many more days you
            need to work to reach your financial goal.
          </p>
          <div class="client-img-info">
            <img
              srcset="
                ./assets/images/clients/1x/avatar1@1x.png 1x,
                ./assets/images/clients/2x/avatar1@2x.png 2x
              "
              alt="Designer"
              width="50"
              height="50"
            />
            <div class="client-info">
              <h3 class="clients-list-title">Wahid Ari</h3>
              <p class="clients-list-proffession">
                Designer
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="clients-list-item">
        <div class="clients-list-container">
          <img
            src="./assets/images/clients/Group 204.png"
            alt="four stars"
            width="106"
            height="18"
          />
          <p class="clients-list-text">
            Product helps you see how many more days you
            need to work to reach your financial goal.
          </p>
          <div class="client-img-info">
            <img
              srcset="
                ./assets/images/clients/1x/avatar2@1x.png 1x,
                ./assets/images/clients/2x/avatar2@2x.png 2x
              "
              alt="FrontEnd"
              width="50"
              height="50"
            />
            <div class="client-info">
              <h3 class="clients-list-title">Wahid Ari</h3>
              <p class="clients-list-proffession">
                FrontEnd
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="clients-list-item">
        <div class="clients-list-container">
          <img
            src="./assets/images/clients/Group 204.png"
            alt="four stars"
            width="106"
            height="18"
          />
          <p class="clients-list-text">
            Product helps you see how many more days you
            need to work to reach your financial goal.
          </p>
          <div class="client-img-info">
            <img
              srcset="
                ./assets/images/clients/1x/avatar3@1x.png 1x,
                ./assets/images/clients/2x/avatar3@2x.png 2x
              "
              alt="Analys"
              width="50"
              height="50"
            />
            <div class="client-info">
              <h3 class="clients-list-title">Wahid Ari</h3>
              <p class="clients-list-proffession">Analys</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- #endregion Clients -->
