<link
  rel="stylesheet"
  href="./css/index/collaborative.css"
/>
<!-- #region Collaborative -->
<section class="collaborative-section">
  <div class="container colab-container">
    <div class="colab-left-container">
      <p class="upper-title-collab">Optimisation for</p>
      <h2 class="colab-title">Collaborative</h2>
      <p class="colab-text">
        Few would argue that, despite the advancements of
        feminism over the past three decades, women still
        face a double standard when it comes to their
        behavior.
      </p>
      <ul class="colab-list">
        <li class="colab-list-item">
          <h3 class="colab-list-title">Accessory makers</h3>
          <p class="colab-list-text">
            While most people enjoy casino gambling, sports
            betting, lottery and bingo playing for the fun
          </p>
        </li>
        <li class="colab-list-item">
          <h3 class="colab-list-title">Alterationists</h3>
          <p class="colab-list-text">
            If you are looking for a new way to promote your
            business that won’t cost you more money,
          </p>
        </li>
      </ul>
    </div>

    <img
      class="colab-img"
      src="./assets/images/collaborative/collaboration-img.svg"
      alt="collaboration-img"
      width="540"
      height="500"
    />
  </div>
</section>
<!-- #endregion Collaborative -->
