<link rel="stylesheet" href="./css/index/customer.css" />
<!-- #region Customers -->
<section class="customers-section">
  <div class="container customers-container">
    <img
      class="customers-img"
      src="./assets/images/customer/customer-img.svg"
      alt="support-img"
      width="540"
      height="500"
    />
    <div class="customer-right-container">
      <p class="upper-title-customers">
        Easier decision making for
      </p>
      <h2 class="customers-title">Customer Support</h2>
      <p class="customers-text">
        The Myspace page defines the individual, his or her
        characteristics, traits, personal choices and the
        overall personality of the person.
      </p>
      <ul class="customers-list">
        <li class="customers-list-item">
          <div class="container-check-mark orange">
            <svg class="check-mark" height="16" width="12">
              <use
                href="./assets/icons.svg#icon-check-mark"
              ></use>
            </svg>
          </div>
          <p class="customers-list-text">
            Never worry about overpaying for your energy
            again.
          </p>
        </li>
        <li class="customers-list-item">
          <div class="container-check-mark red">
            <svg class="check-mark" height="16" width="12">
              <use
                href="./assets/icons.svg#icon-check-mark"
              ></use>
            </svg>
          </div>
          <p class="customers-list-text">
            We will only switch you to energy companies that
            we trust and will treat you right
          </p>
        </li>
        <li class="customers-list-item">
          <div class="container-check-mark blue">
            <svg class="check-mark" height="16" width="12">
              <use
                href="./assets/icons.svg#icon-check-mark"
              ></use>
            </svg>
          </div>
          <p class="customers-list-text">
            We track the markets daily and know where the
            savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
