<link rel="stylesheet" href="./css/index/management.css" />
<!-- #region Management -->
<section class="management-section">
  <div class="container management-container">
    <div class="management-left-container">
      <p class="unper-title-management">
        Effortless Validation for
      </p>
      <h2 class="title-management">Management</h2>
      <p class="text-management">
        The Myspace page defines the individual, his or her
        characteristics, traits, personal choices and the
        overall personality of the person.
      </p>
      <ul class="list-management">
        <li class="list-item-management">
          <h3 class="title-list-management">
            Accessory makers
          </h3>
          <p class="text-list-management">
            While most people enjoy casino gambling, sports
            betting, lottery and bingo playing for the fun
          </p>
        </li>
        <li class="list-item-management">
          <h3 class="title-list-management">
            Alterationists
          </h3>
          <p class="text-list-management">
            If you are looking for a new way to promote your
            business that won’t cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <img
      class="management-img"
      src="./assets/images/management/management-img.svg"
      alt="management-img"
    />
  </div>
</section>
<!-- #endregion Management -->
