<link
  rel="stylesheet"
  href="./css/pricing/enterpreneur.css"
/>
<!-- #region Enterpreneur -->
<section class="enterpreneur-section">
  <div class="container enterpreneur-container">
    <h2 class="enterpreneur-title">Enterprise</h2>
    <h3 class="enterpreneur-under-title">
      Are you interested in a custom-tailored plan?
    </h3>
    <p class="enterpreneur-text">
      Product is a set of advanced features for really large
      teams with projects.
    </p>
    <a href="/resources#contact">
      <button class="enterpreneur-btn" type="button">
        Get in touch with us
      </button>
    </a>
  </div>
</section>
<!-- #endregion Enterpreneur -->
