<link rel="stylesheet" href="./css/pricing/faq.css" />
<section class="faq-section">
  <div class="container faq-container">
    <h2 class="faq-title">Frequently asked question</h2>
    <p class="faq-text">
      Something is not clear? You need help? Check our FAQ
      section
    </p>
    <ul class="faq-list">
      <li class="faq-list-item">
        <div class="faq-list-container">
          <svg class="faq-icon" width="24" height="24">
            <use
              href="./assets/icons.svg#icon-plus_circle"
            ></use>
          </svg>
          <h3 class="faq-list-title">
            What are my payment option?
          </h3>
        </div>
        <p class="faq-list-text">
          You can pay via credit card, PayPal, or wire
          transfer. All payments are secure and encrypted.
        </p>
      </li>

      <li class="faq-list-item">
        <div class="faq-list-container">
          <svg class="faq-icon" width="24" height="24">
            <use
              href="./assets/icons.svg#icon-plus_circle"
            ></use>
          </svg>
          <h3 class="faq-list-title">
            How can I invite collaborator to platform?
          </h3>
        </div>
        <p class="faq-list-text">
          After creating your account you can invite
          collaborators via email. They will receive a link
          to join your project.
        </p>
      </li>

      <li class="faq-list-item">
        <div class="faq-list-container">
          <svg class="faq-icon" width="24" height="24">
            <use
              href="./assets/icons.svg#icon-plus_circle"
            ></use>
          </svg>
          <h3 class="faq-list-title">
            Can I upgrade my plan?
          </h3>
        </div>
        <p class="faq-list-text">
          Yes, you can upgrade your plan at any time from
          your account settings.
        </p>
      </li>

      <li class="faq-list-item">
        <div class="faq-list-container">
          <svg class="faq-icon" width="24" height="24">
            <use
              href="./assets/icons.svg#icon-plus_circle"
            ></use>
          </svg>
          <h3 class="faq-list-title">
            Can I cancel my plan at anytime?
          </h3>
        </div>
        <p class="faq-list-text">
          Absolutely! You can cancel your subscription at
          any time without penalties.
        </p>
      </li>
    </ul>
  </div>
</section>
