<link
  rel="stylesheet"
  href="./css/pricing/product-usage.css"
/>
<!-- #region Product-Usage -->
<section class="product-usage-section">
  <div class="container product-usage-container">
    <h2 class="product-usage-title">
      Product is being used with great effects alongside:
    </h2>
    <div class="product-usege-content-container">
      <picture>
        <source
          srcset="
            ./assets/images/product-usage/decktop-product-usage-img.svg
          "
          media="(min-width: 1158px)"
        />
        <source
          srcset="
            ./assets/images/product-usage/mobile-product-usage-img.svg
          "
          media="(max-width: 767px)"
        />
        <img
          class="product-usage-img"
          src="./assets/images/product-usage/default-product-usage-img.svg"
          alt="product-usage-img"
        />
      </picture>
      <div class="product-usage-right-container">
        <ul class="product-usage-list">
          <li class="product-usage-list-item">
            <div class="product-usage-icon-container">
              <svg
                class="product-icon"
                width="24"
                height="24"
              >
                <use
                  href="./assets/icons.svg#icon-product-usage-icon-01"
                ></use>
              </svg>
            </div>
            <h3 class="product-usage-list-title">
              Enterpreneur
            </h3>
            <p class="product-usage-list-text">
              Product is a great way to help medium and
              samall enterprise owners achieve their goals
            </p>
          </li>
          <li class="product-usage-list-item">
            <div class="product-usage-icon-container">
              <svg
                class="product-icon"
                width="24"
                height="24"
              >
                <use
                  href="./assets/icons.svg#icon-product-usage-icon-02"
                ></use>
              </svg>
            </div>
            <h3 class="product-usage-list-title">
              Accountants
            </h3>
            <p class="product-usage-list-text">
              Whether you are working on contract with
              clients, or on other key accounting documents,
              Product is for you
            </p>
          </li>
          <li class="product-usage-list-item">
            <div class="product-usage-icon-container">
              <svg
                class="product-icon"
                width="24"
                height="24"
              >
                <use
                  href="./assets/icons.svg#icon-product-usage-icon-03"
                ></use>
              </svg>
            </div>
            <h3 class="product-usage-list-title">
              Universities
            </h3>
            <p class="product-usage-list-text">
              Organize university projects and have
              documents easily graded online with Product
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- #endregion Product-Usage -->
