<link rel="stylesheet" href="./css/conmannies.css" />
<!-- #region Сompanies -->
<section class="companies-section">
  <div class="container companies-container">
    <div class="comptaniens-bg-container">
      <div class="companies-left-container">
        <h2 class="companies-title">
          Join 100 Compannies who boost their business with
          Product
        </h2>
        <a href="/resources#send-form">
          <button class="companies-btn" type="button">
            Get This
          </button>
        </a>
      </div>
      <img
        class="companies-img"
        src="./assets/images/companies/graphics.svg"
        alt="graphics"
        width="371"
        height="351"
      />
    </div>
  </div>
</section>
<!-- #endregion Сompanies -->
