<link rel="stylesheet" href="./css/footer.css" />
<!-- #region Footer -->
<footer class="footer">
  <div class="container footer-container">
    <div class="footer-up-container">
      <div class="footer-logo-socials-container">
        <a class="footer-logo" href="./">
          <img
            src="./assets/images/logo/logo.svg"
            alt="Logo"
            width="40"
            height="36"
          />
          Product
        </a>
        <ul class="footer-list-icon">
          <li class="footer-list-item">
            <a
              href="https://www.instagram.com/nyow228/"
              target="_blank"
            >
              <div class="footer-icon-container">
                <svg
                  class="footer-socials-icon"
                  width="24"
                  height="24"
                >
                  <use
                    href="./assets/icons.svg#icon-instagram"
                  ></use>
                </svg>
              </div>
            </a>
          </li>
          <li class="footer-list-item">
            <a href="/" target="_blank">
              <div class="footer-icon-container">
                <svg
                  class="footer-socials-icon"
                  width="24"
                  height="24"
                >
                  <use
                    href="./assets/icons.svg#icon-facebook"
                  ></use>
                </svg>
              </div>
            </a>
          </li>
          <li class="footer-list-item">
            <a href="/" target="_blank">
              <div class="footer-icon-container">
                <svg
                  class="footer-socials-icon"
                  width="24"
                  height="24"
                >
                  <use
                    href="./assets/icons.svg#icon-twitter"
                  ></use>
                </svg>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-list-container">
        <div class="footer-list-item-container">
          <p class="footer-title">Resource</p>
          <ul class="footer-list-menu">
            <li class="footer-list-meni-item">
              <a href="" class="footer-link">About Us</a>
            </li>
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link">Blog</a>
            </li>
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link">Contact</a>
            </li>
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer-list-item-container">
          <p class="footer-title">Legal Stuff</p>
          <ul class="footer-list-menu">
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link">Disclaimer</a>
            </li>
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link">Financing</a>
            </li>
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-list-meni-item">
              <a href="/" class="footer-link"
                >Terms of Service</a
              >
            </li>
          </ul>
        </div>
      </div>

      <form class="footer-form" id="email-subscribe-footer">
        <label class="footer-form-label" for="footer-email">
          Knowing you're always on the best energy deal.
        </label>
        <div class="footer-form-input-cont">
          <input
            class="footer-input"
            type="email"
            name="email"
            id="footer-email"
            name="footer-email"
            placeholder="Enter your email adress"
            required
          />
          <svg
            class="footer-form-icon"
            width="18"
            height="24"
          >
            <use href="./assets/icons.svg#icon-email"></use>
          </svg>
        </div>
        <button class="footer-btn" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</footer>
<!-- #endregion Footer -->
