<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/header.css" />

<!-- #region Header -->
<header class="header">
  <div class="container header-container">
    <!-- Logo -->
    <a href="/" class="logo">
      <img
        src="/assets/images/logo/logo.svg"
        alt="Logo"
        width="40"
        height="36"
        class="logo-img"
      />
      BizMon
    </a>

    <!-- Навігація -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="/"
            >Home</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="/pricing"
            >Pricing</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="/customers"
            >Customers</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="/resources"
            >Resources</a
          >
        </li>
      </ul>
    </nav>

    <!-- Кнопки входу / виходу -->
    <ul class="header-btn-list" id="auth-buttons">
      <li
        class="desktop-auth-buttons"
        id="desktop-auth-buttons"
      >
        <button
          class="header-btn sing-in open-modal-btn"
          type="button"
          data-target="login-backdrop"
          data-type="login"
        >
          Sign In
        </button>
        <button
          class="header-btn open-modal-btn"
          type="button"
          data-target="register-backdrop"
          data-type="register"
        >
          Sign Up
        </button>
      </li>

      <!-- Обгортка для user info та dropdown -->
      <li class="user-dropdown-wrapper">
        <div class="user-info is-hidden" id="user-info">
          <span class="user-greeting"
            >Hello, <span id="user-name">User</span></span
          >
          <div class="user-avatar" id="user-avatar">U</div>
        </div>

        <!-- Dropdown меню -->
        <div class="user-dropdown" id="user-dropdown">
          <button id="logout-btn" class="dropdown-btn">
            Log out
          </button>
          <button
            id="dashboard-btn"
            class="dropdown-btn is-hidden"
          >
            Admin Dashboard
          </button>
        </div>
      </li>
    </ul>

    <!-- Мобільне меню -->
    <button class="menu-link" type="button">
      <svg width="28" height="31">
        <use href="./assets/icons.svg#icon-menu-link"></use>
      </svg>
    </button>
  </div>
</header>
<!-- #endregion Header -->
