<link rel="stylesheet" href="./css/notification.css" />
<div
  class="notification-toast is-hidden"
  id="notification-toast"
>
  <p id="notification-message"></p>
  <button id="notification-close-btn">OK</button>
</div>
