<link rel="stylesheet" href="./css/resources/contact.css" />
<!-- #region Contact Us -->
<section class="contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="contact-title">Contact Us</h2>
    <p class="contact-text">
      Need more detailed information? Get in touch with us.
    </p>
    <ul class="contact-list-icon">
      <li class="contact-list-item">
        <a
          href="https://www.instagram.com/nyow228/"
          target="_blank"
        >
          <div class="contact-icon-container">
            <svg
              class="contact-socials-icon"
              width="24"
              height="24"
            >
              <use
                href="./assets/icons.svg#icon-instagram"
              ></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="contact-list-item">
        <a href="#" target="_blank">
          <div class="contact-icon-container">
            <svg
              class="contact-socials-icon"
              width="24"
              height="24"
            >
              <use
                href="./assets/icons.svg#icon-facebook"
              ></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="contact-list-item">
        <a href="#" target="_blank">
          <div class="contact-icon-container">
            <svg
              class="contact-socials-icon"
              width="24"
              height="24"
            >
              <use
                href="./assets/icons.svg#icon-twitter"
              ></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
    <iframe
      class="contact-map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1903.5237216868368!2d35.44797321403467!3d48.62849424825054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d94eb5b45db11f%3A0xbd766aaabc985e95!2z0JfQvdCw0LzQtdC90ZbQstGB0YzQutCwINGI0LrQvtC70LAg4oSWIDE!5e1!3m2!1suk!2sua!4v1745944431267!5m2!1suk!2sua"
      width="362"
      height="343"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <div class="form-wrap" id="send-form">
      <h2 class="contact-form-title">Send a message</h2>
      <form class="contaict-form">
        <input
          class="contact-input-name"
          type="text"
          placeholder="Your Name"
          required
        />
        <input
          class="contact-input-email"
          type="email"
          placeholder="Your Email"
          required
        />
        <textarea
          class="contact-input-massage"
          type="text"
          placeholder="Your Message"
          required
        ></textarea>
        <button class="contact-form-btn" type="submit">
          Send
        </button>
      </form>
    </div>
  </div>
</section>
<!-- #endregion Contact Us -->
