<link
  rel="stylesheet"
  href="./css/resources/latest-stories.css"
/>
<!-- #region Latest Stories -->
<section class="latest-stories-section">
  <div class="container latest-stories-container">
    <h2 class="latest-title">Latest Stories</h2>
    <p class="latest-text">
      We focus on ergonomics and meeting you where you work.
      It's only a keystroke away.
    </p>
    <ul class="latest-list">
      <li class="latest-list-item">
        <img
          class="latest-img"
          src="./assets/images/latest-stories/1x/computer@1x.png"
          alt="computer"
          srcset="
            ./assets/images/latest-stories/1x/computer-1@1x.png 1x,
            ./assetsimages/latest-stories/2x/computer-1@2x.png  2x
          "
        />

        <div class="under-img-container">
          <p class="under-img-text">
            By
            <span class="latest-bold">Wahid Ari </span>| 03
            March 2019
          </p>
          <a href="#" class="latest-list-title-link">
            Increasing Prosperity With Positive Thinking
          </a>
        </div>
      </li>
      <li class="latest-list-item">
        <img
          class="latest-img"
          src="./assets/images/latest-stories/1x/computer@1x.png"
          alt="computer"
          srcset="
            ./assets/images/latest-stories/1x/meet@1x.png 1x,
            ./assets/images/latest-stories/2x/meet@2x.png 2x
          "
        />

        <div class="under-img-container">
          <p class="under-img-text">
            By
            <span class="latest-bold">Wahid Ari </span>| 03
            March 2019
          </p>
          <a href="/" class="latest-list-title-link">
            Motivation Is The First Step To Success
          </a>
        </div>
      </li>
      <li class="latest-list-item">
        <img
          class="latest-img"
          src="./assets/images/latest-stories/1x/computer@1x.png"
          alt="computer"
          srcset="
            ./assets/images/latest-stories/1x/business-man@1x.png 1x,
            ./assets/images/latest-stories/2x/business-man@2x.png 2x
          "
        />

        <div class="under-img-container">
          <p class="under-img-text">
            By
            <span class="latest-bold">Wahid Ari </span>| 03
            March 2019
          </p>
          <a href="/" class="latest-list-title-link">
            Success Steps For Your Personal Or Business
          </a>
        </div>
      </li>
      <li class="latest-list-item">
        <img
          class="latest-img"
          src="./assets/images/latest-stories/1x/computer@1x.png"
          alt="computer"
          srcset="
            ./assets/images/latest-stories/1x/computer-2@1x.png 1x,
            ./assets/images/latest-stories/2x/computer-2@2x.png 2x
          "
        />

        <div class="under-img-container">
          <p class="under-img-text">
            By
            <span class="latest-bold">Wahid Ari </span>| 03
            March 2019
          </p>
          <a href="/" class="latest-list-title-link">
            Increasing Prosperity With Positive Thinking
          </a>
        </div>
      </li>
      <li class="latest-list-item">
        <img
          class="latest-img"
          src="./assets/images/latest-stories/1x/computer@1x.png"
          alt="computer"
          srcset="
            ./assets/images/latest-stories/1x/computer-3@1x.png 1x,
            ./assets/images/latest-stories/2x/computer-3@2x.png 2x
          "
        />

        <div class="under-img-container">
          <p class="under-img-text">
            By
            <span class="latest-bold">Wahid Ari </span>| 03
            March 2019
          </p>
          <a href="/" class="latest-list-title-link">
            Motivation Is The First Step To Success
          </a>
        </div>
      </li>
      <li class="latest-list-item">
        <img
          class="latest-img"
          src="./assets/images/latest-stories/1x/computer@1x.png"
          alt="computer"
          srcset="
            ./assets/images/latest-stories/1x/computer-4@1x.png 1x,
            ./assets/images/latest-stories/2x/computer-4@2x.png 2x
          "
        />

        <div class="under-img-container">
          <p class="under-img-text">
            By
            <span class="latest-bold">Wahid Ari </span>| 03
            March 2019
          </p>
          <a href="/" class="latest-list-title-link">
            Success Steps For Your Personal Or Business
          </a>
        </div>
      </li>
    </ul>
    <a href="/" class="latest-under-list-link">
      <p class="under-list-link-text">More Stories</p>
      <svg width="20" height="20" class="latest-icon">
        <use
          href="./assets/icons.svg#icon-circle_right"
        ></use>
      </svg>
    </a>
  </div>
</section>
<!-- #endregion Latest Stories -->
