<link
  rel="stylesheet"
  href="./css/resources/great-business.css"
/>
<!-- #region Great Business -->
<section class="great-business-section">
  <div class="container great-business-container">
    <div class="great-left-site">
      <h1 class="great-title">
        Great Business made with Product.
      </h1>
      <p class="great-text">
        Build better customer relationships easily messaging
        that provides a more personal experience for you and
        your customers.
      </p>
      <form class="great-form" id="email-subscribe-main">
        <input
          class="great-input"
          type="email"
          name="email"
          placeholder="Enter your email adress"
          required
        />
        <button type="submit" class="great-btn">
          Join Now
        </button>
      </form>
      <div class="joun-wrap">
        <img
          src="./assets/images/great-business/Group 1451.png"
          alt="Join other img"
        />
        <p class="great-join-group-text">
          Join over
          <span class="green">4,000+</span> other
        </p>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./assets/images/great-business/1x/desktop-interface-img@1x.png 1x,
          ./assets/images/great-business/2x/desktop-interface-img@2x.png 2x
        "
        media="(min-width: 1158px)"
      />
      <source
        srcset="
          ./assets/images/great-business/1x/mobile-interface-img@1x.png 1x,
          ./assets/images/great-business/2x/mobile-interface-img@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="great-business-img"
        src="./assets/images/great-businnes/1x/mobile-interface-img@1.png"
        alt="interface"
        srcset="
          ./assets/images/great-business/1x/mobile-interface-img@1x.png 1x,
          ./assets/images/great-business/2x/mobile-interface-img@2x.png 2x
        "
      />
    </picture>
  </div>
</section>
<!-- #endregion Great Business -->
