<link rel="stylesheet" href="./css/index/hero.css" />
<!-- #region Hero -->
<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-left-side">
      <h1 class="hero-title">
        Work at the speed of thought
      </h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all
        in one place! The most intuitive way to imagine your
        next user experience.
      </p>
      <ul class="hero-btn-list">
        <li class="hero-btn-item">
          <a href="/resources#send-form">
            <button class="hero-btn-get" type="button">
              Get started
            </button>
          </a>
        </li>
        <li class="hero-btn-item">
          <div class="hero-btn-icon">
            <a
              class="hero-link-watch"
              href="https://youtu.be/QiiD9WrVj70?si=C2vJlh25ObRha1S9&t=17"
              target="_blank"
            >
              <svg
                class="hero-btn-play"
                width="20"
                height="17"
              >
                <use
                  href="/assets/icons.svg#icon-button-play"
                ></use>
              </svg>

              Watch the Video
            </a>
          </div>
        </li>
      </ul>
    </div>
    <img
      class="hero-img"
      src="./assets/images/hero/hero-img.svg"
      alt="hero-img"
    />
  </div>
</section>
