<link rel="stylesheet" href="./css/index/process.css" />
<!-- #region Process -->
<section class="process-section">
  <div class="container process-container">
    <h2 class="process-title">Quick & Easy Process</h2>
    <p class="process-text">
      Do you require some help for your project: Conception
      workshop, prototyping, marketing strategy, landing
      page, Ux/UI?
    </p>
    <ul class="process-list">
      <li class="process-list-item">
        <img
          src="./assets/images/process/avatar.png"
          alt="avatar"
          height="98"
          width="98"
        />
        <p class="process-list-text">
          I can take care of your pitch
        </p>
      </li>
      <li class="process-list-item">
        <p class="process-list-text">
          I can design you website
        </p>
        <img
          src="./assets/images/process/avatar 2.png"
          alt="avatar2"
          height="98"
          width="98"
        />
      </li>
      <li class="process-list-item">
        <img
          src="./assets/images/process/avatar 4.png"
          alt="avatar4"
          height="98"
          width="98"
        />
        <p class="process-list-text">
          I can help marketing strategy
        </p>
      </li>
      <li class="process-list-item">
        <p class="process-list-text">
          I can prototype your app
        </p>
        <img
          src="./assets/images/process/avatar 3.png"
          alt="avatar3"
          height="98"
          width="98"
        />
      </li>
    </ul>
    <a href="/resources#send-form">
      <button class="process-btn" type="button">
        Contact our expert
      </button>
    </a>
  </div>
</section>
<!-- #endregion Process -->
